<h1>Admin login</h1>
<form method="POST" action="/admin/auth">
    {{trans.__user}}: <input type="text" name="username" /> <br />
    {{trans.__pwd}}: <input type="password" name="pwd" /> <br />
    <input type="submit" name="validate" value="{{trans.__validate}}"/>
</form>