<h1>Add device</h1>
<form method="POST" action="/api/device/add">
    Nombre: <input type="text" name="name" /> <br />
    Latitud: <input type="text" name="latitude" /> <br />
    Longitud: <input type="text" name="longitude" /> <br />

    <input type="submit" name="add" value="Añadir"/>
</form>