<table border="1">
    <thead>
        <th>Nombre</th>
        <th>Borrar</th>
    </thead>
    <tbody>
        {{#each content}}
        <tr>
            <td>
                {{this.name}}
            </td>
            <td>
                <a href="https://ptin2018.herokuapp.com/api/devices/{{this._id}}/delete">Eliminar</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
