$header-height: 65px;
$sidebar-width: 70px;
$vh: 93vh;
$sidebar-menu-color: #7A7979;
$sidebar-device-list-color: #FAFAFA;

* {
  padding: 0;
  margin:0; 
}

body {
  overflow: hidden;
}

#header {
  height: $header-height;
  background-color:$sidebar-menu-color;
  border-bottom: 1px solid #ccc;
  padding: 0;
  margin:0;

  nav {

    padding-top: 15px;

    a {
      color:white;
      font-size: 25px;
      margin-left: 20px;

      sup {
        font-size: small;
        font-weight: bolder;
        padding: 2px 4px 2px 4px;
        border-radius: 4px;

        sup {
          font-size: small;
          padding: 2px 4px 2px 4px;
          border-radius: 4px;
        }
        .no-notification {
          background-color: violet;
        }

        .new-notification {
          background-color: blue;
          font-weight: bolder;
        }
      }
    }

    #settings {
      margin-right: 20px;
    }
  }
}

#sidebar {

  padding: 0;
  min-height: $vh;
  max-height: $vh;

  #devices {
    background-color: $sidebar-device-list-color;
    min-height: inherit;
    margin-left: 2px;

    #filter {
      padding-top:10px;
      padding-bottom: 10px;
      padding-right: 10px;
      background-color: white;
      border-bottom: 1px solid #ccc;
      
      .filter-input {
        border-radius: 10px;
        padding-left: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 15px;
        margin-right: 10px;
        border: 1px solid $sidebar-menu-color;
        background-color: white;
        
        input {
          width: 95%;
          border:0;
        }

        .filter-search-icon {
          font-size:20px;
          color: $sidebar-menu-color;
        }
      }

      a {
        color: slateblue;
        font-size: 25px;
      }
    }
    
    #devices-list {
      color: inherit;
      overflow-y: scroll;
      height: $vh;
      padding-bottom: 50px;

      .device {
        border: 1px solid #ccc;
        background-color: whitesmoke;
        margin: 20px;
        padding: 10px;
      }
    }
  }
}

#content {
  min-height: $vh;
  max-height: $vh;
 
}

#login {

  margin-top: 100px;
  
  #header-login{
    background-color: $sidebar-menu-color;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; 
    padding:15px 10px 15px 10px;
    text-align: center;
    color: white;
    font-size: large;
  }

  #content-login {
    background-color:$sidebar-device-list-color;
    padding: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #ccc;
    color: $sidebar-menu-color;

    #form-error {
      font-style: italic;
      font-size: small;
      font-weight: initial;
      padding-left: 15px;
      color:#a94442;
      display: none;
    }
  }

}